/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 2:22:21 AM
    Author     : shuwnyuan
*/


#green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00);
        //radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#grid {
    -fx-background-color: #FFFFFF;
}

.right {
    -fx-alignment: center-right; 
}

.left {
    -fx-alignment: center-left; 
}

.profit {
    -fx-text-fill: green;
}

.loss {
    -fx-text-fill: red;
}

.table-view .column-header{
    -fx-font-size: 12px;
}

.table-cell {
    -fx-font-size: 12px;
}

#accBorderPane .label {
    -fx-font-size: 14px;
}